/* Box Model Fix */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0px;
}

/*  desktop - vw от макета 1920
    tablet - от 768
    mobile - от 320px   */

body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Exo 2', sans-serif;
}


header {
    padding: 6.77vw 12.5vw 15vw;
    height: 47vw;
    background-image: url(img/header_bgi.png);
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: left;
    flex-direction: column;
}

header h2 {

    font-weight: 400;
    font-size: 1.46vw;
    line-height: 34px;
    text-transform: uppercase;
    color: #FFFFFF;
}

header h1 {
    margin: 0;
    font-weight: 700;
    font-size: 6.25vw;
    color: #FFFFFF;
    position: relative;
}

header h1::after {
    content: '';
    width: 17.2vw;
    height: 7.55vw;
    border: 2px solid #FFFFFF;
    transform: rotate(23.3deg);
    position: absolute;
    border-radius: 50%;
    left: 24vw;
    top: 0;
    bottom: 0;
}

header p {
    margin-top: auto;
    font-weight: 400;
    font-size: 2.60vw;
    text-transform: uppercase;
    color: #FFFFFF;
}

#dva_v_odnom {
    z-index: 2;
    margin-top: -5vw;
    height: 79.27vw;
    background: linear-gradient(0deg, rgba(255, 220, 188, 1) 94%, rgba(0, 0, 0, 0) 100%);
    padding: 5vw 0 15vw 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#dva_v_odnom>p {
    font-weight: 400;
    font-size: 8.85vw;
    color: #E44E2B;
    width: 100%;
    text-align: center;
}

#dva_v_odnom>article {
    width: 48vw;
    height: 51.04vw;
    position: relative;
    background-repeat: no-repeat;
    margin-top: 1vw;
    padding-top: 1.1vw;
    z-index: 2;
}

#dva_v_odnom>article:nth-of-type(1)::after {
    content: '';
    width: 0.21vw;
    height: 46.88vw;
    background-color: #FFFFFF;
    position: absolute;
    top: 1vw;
    right: -1vw;

}

#dva_v_odnom>article>h2 {
    font-weight: 700;
    font-size: 3.65vw;
    text-transform: uppercase;
    color: #796959;
}

#dva_v_odnom>article>h2::before {
    content: '';
    width: 17.2vw;
    height: 7.55vw;
    border: 2px solid #ffffff;
    transform: rotate(23.3deg);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

#dva_v_odnom>article:nth-of-type(1)>h2::before {
    left: 20vw;
    top: -0.5vw;
}

#dva_v_odnom>article:nth-of-type(2)>h2::before {
    left: 7.8vw;
    top: -0.5vw;
}

#dva_v_odnom>article:nth-of-type(1) {
    background-image: url(img/dva_v_odnom_1.png);
    background-repeat: no-repeat;
    background-position: bottom 2vw left;
    background-size: 43.23vw 44.11vw
}

#dva_v_odnom>article:nth-of-type(1) h2 {
    margin-left: 18.5vw;
}

#dva_v_odnom>article:nth-of-type(2) {
    background-image: url(img/dva_v_odnom_2.png);
    background-position: top left 16vw;
    background-size: 28.39vw 45.42vw;
}

#dva_v_odnom>article:nth-of-type(2) h2 {
    margin-left: 9.5vw;
}

#dva_v_odnom>article:nth-of-type(2) p {
    text-align: center;
    font-weight: 400;
    font-size: 2.60vw;
    text-transform: uppercase;
    color: #E6542F;
    margin-top: 36.3vw;
    margin-left: 11vw;
}

#dva_v_odnom>article:nth-of-type(2) p span {
    font-weight: 700;
    font-size: 4.69vw;
}

#intuit {
    height: 102vw;
    z-index: 3;
    margin-top: -5vw;
    background: url(img/intuit_bgi.png), linear-gradient(0deg, #AD633E 94%, rgb(255, 220, 188) 100%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top 10vw center, top center;
    padding-top: 10.15vw;
    padding-left: 10vw;
}

#intuit h2 {
    font-weight: 400;
    font-size: 3.13vw;
    text-transform: uppercase;
    color: #FFFFFF;
}

#intuit h2 span {
    font-size: 6.26vw;
}

#intuit p {
    font-weight: 400;
    font-size: 3.13vw;
    color: #FFFFFF;
    position: relative;
}

#intuit p:nth-of-type(1) {
    margin-top: -1.7vw;
    margin-left: 54.9vw;
}

#intuit p:nth-of-type(2) {
    margin-top: 8.0vw;
    margin-left: -1.5vw;
}

#intuit p:nth-of-type(3) {
    margin-top: -1.7vw;
    margin-left: 69vw;
}

#intuit p:nth-of-type(4) {
    margin-top: 16.2vw;
    margin-left: -4.35vw;
}

#intuit p:nth-of-type(5) {
    margin-top: 9.6vw;
    margin-left: 61vw;
}

#intuit p::after {
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

#intuit p:nth-of-type(1)::after {
    background-image: url(img/intuit_line_1.png);
    width: 22.60vw;
    height: 8.96vw;
    top: 4vw;
    left: -9vw;
}

#intuit p:nth-of-type(2)::after {
    background-image: url(img/intuit_line_2.png);
    width: 26.15vw;
    height: 8.59vw;
    top: 3.5vw;
    left: 0vw;
}

#intuit p:nth-of-type(3)::after {
    background-image: url(img/intuit_line_3.png);
    width: 24.90vw;
    height: 7.86vw;
    top: 4vw;
    left: -8.2vw;
}

#intuit p:nth-of-type(4)::after {
    background-image: url(img/intuit_line_4.png);
    width: 40.57vw;
    height: 8.07vw;
    top: -4.2vw;
    left: 0;
}

#intuit p:nth-of-type(5)::after {
    background-image: url(img/intuit_line_5.png);
    width: 35.73vw;
    height: 7.03vw;
    top: -3.3vw;
    left: -13.8vw;
}

#heat {
    height: 74.48vw;
    z-index: 4;
    margin-top: -12vw;
    background: linear-gradient(0deg, rgba(255, 220, 188, 1) 92%, rgba(0, 0, 0, 0) 100%);
    padding-top: 9.3vw;
    padding-left: 4vw;
}

#heat article {
    padding: 2vw 6vw 2vw 4vw;
    width: 58.65vw;
    height: 46.56vw;
    background: rgba(255, 255, 255, 0.58);
    box-shadow: 0px 0px 2.08vw #E1B286;
    border-radius: 1.56vw;
    position: relative;
}

#heat article::after {
    content: '';
    background-image: url(img/heat.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 62.29vw;
    width: 83.33vw;
    position: absolute;
    top: 4vw;
    left: 8.5vw;
}

#heat article h2 {
    font-weight: 400;
    font-size: 6.25vw;
    text-transform: uppercase;
    color: #E44E2B;
}

#heat article p {
    margin-top: 1.9vw;
    font-weight: 400;
    font-size: 2.40vw;
    color: #796959;
}

#care_one {
    z-index: 4;
    height: 74.48vw;
    background: linear-gradient(180deg, rgba(255, 220, 188, 1) 27.06%, #BB6C41 65.05%);
}

#care_one h2 {
    font-weight: 400;
    font-size: 5vw;
    text-transform: uppercase;
    color: #796959;
    margin-left: 41.5vw;
    padding-top: 11.5vw;
    position: relative;
}

#care_one h2::before {
    content: '';
    height: 50.05vw;
    width: 39.17vw;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/care_one_bgi.png);
    top: 0;
    left: -42vw;
}

#care_one p:nth-of-type(1) {
    font-weight: 400;
    font-size: 2.50vw;
    text-transform: uppercase;
    color: #796959;
    margin-left: 41.5vw;
    margin-top: 0.9vw;
}

#care_one p:nth-of-type(2) {
    font-weight: 400;
    font-size: 2.40vw;
    color: #FFFFFF;
    margin-left: 41.5vw;
    margin-top: 2.2vw;
    width: 51vw;
}

#care_one p:nth-of-type(3) {
    font-weight: 400;
    font-size: 2.40vw;
    color: #FFFFFF;
    margin-left: 2.8vw;
    margin-top: 2.3vw;
}

#functions {
    height: 82vw;
    z-index: 5;
    margin-top: -5vw;
    padding: 8.3vw 0 0 5vw;
    background: linear-gradient(0deg, rgba(255, 220, 188, 1) 94%, rgba(0, 0, 0, 0) 100%);
}

#functions h2 {
    width: 60vw;
    font-weight: 400;
    font-size: 5vw;
    text-transform: uppercase;
    color: #E44E2B;
    position: relative;
}

#functions h2::after {
    content: '';
    width: 54.69vw;
    height: 54.69vw;
    background-image: url(img/func_bgi.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -13vw;
    right: -35vw;
}

#functions h2+p {
    padding-top: 0.7vw;
    font-size: 2.24vw;
    text-transform: uppercase;
    color: #E44E2B;
}

#functions article {
    margin-top: 5.5vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 45vw;
    justify-content: flex-end;
}

#functions article p {
    width: 41.09vw;
    height: 5.73vw;
    font-weight: 400;
    font-size: 2.40vw;
    color: #796959;
    margin-bottom: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7.29vw;
    position: relative;
}

#functions article p::before {
    content: '';
    width: 5.21vw;
    height: 5.21vw;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
}

#functions article p:nth-of-type(1):before {
    background-image: url(img/func_1.png);
}

#functions article p:nth-of-type(2):before {
    background-image: url(img/func_2.png);
}

#functions article p:nth-of-type(3):before {
    background-image: url(img/func_3.png);
}

#functions article p:nth-of-type(4):before {
    background-image: url(img/func_4.png);
}

#functions article p:nth-of-type(5):before {
    background-image: url(img/func_5.png);
}

#functions article p:nth-of-type(6):before {
    background-image: url(img/func_6.png);
}

#functions article p:nth-of-type(7):before {
    background-image: url(img/func_7.png);
}

#functions article p:nth-of-type(8):before {
    background-image: url(img/func_8.png);
}


@media (max-width:800px) {

    header {
        padding: 8.72vw 3.91vw 10.42vw 9vw;
        height: 103.39vw;
        background-image: url(img/header_bgi_small.png);
    }

    header h2 {
        font-size: 3.91vw;
    }

    header h1 {
        font-size: 11.72vw
    }

    header h1::after {
        width: 31.90vw;
        height: 13.93vw;
        left: 45vw;
        top: 0;
        bottom: 0;
    }

    header p {
        align-self: flex-end;
        text-align: center;
        font-size: 3.91vw;
    }

    #heat {
        height: 95vw;
        z-index: 4;
        margin-top: -12vw;
        background: linear-gradient(0deg, rgba(255, 220, 188, 1) 92%, rgba(0, 0, 0, 0) 100%);
        padding-top: 9.3vw;
        padding-left: 4vw;
    }

    #heat article {
        margin-left: 1.9vw;
        padding: 5vw 10vw 2vw 3.5vw;
        width: 63vw;
        height: 52vw;
    }

    #heat article::after {
        height: 67.97vw;
        width: 92.84vw;
        top: 21vw;
        left: -6vw;
        background-image: url(img/heat_small.png);
    }

    #heat article p {
        margin-top: 1.9vw;
        font-weight: 400;
        font-size: 2.40vw;
        color: #796959;
    }
}

@media (max-width:500px) {
    #dva_v_odnom>article {
        width: 47vw;
    }

    #care_one {
        padding: 0 3vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 255vw;
    }

    #care_one h2 {
        font-size: 7.50vw;
        margin-left: 0;
        padding-top: 0;
        text-align: center;
    }

    #care_one h2::before {
        content: '';
        height: 111.88vw;
        width: 87.81vw;
        top: 75vw;
        left: 5vw;
    }

    #care_one p:nth-of-type(1) {
        font-size: 3.75vw;
        text-align: center;
        width: 100%;
        margin-left: 0;
    }

    #care_one p:nth-of-type(2) {
        font-size: 4.38vw;
        margin-left: 0;
        margin-top: 4vw;
        width: 90%;
    }

    #care_one p:nth-of-type(3) {
        font-size: 4.38vw;
        margin-left: 0;
        margin-top: 120vw;
        width: 93%;
    }

    #functions {
        height: 260vw;
        margin-top: -19vw;
        padding: 20vw 0 0 5vw;
        overflow-x: hidden;
    }

    #functions h2 {
        width: 100%;
        font-size: 7.50vw;
    }

    #functions h2::after {
        content: '';
        width: 112vw;
        height: 112vw;
        top: -14vw;
        right: -12vw;
    }

    #functions h2+p {
        width: 70%;
        padding-top: 3vw;
        font-size: 4.38vw;
    }

    #functions article {
        margin-top: 75vw;
        width: 100%;
        flex-wrap: nowrap;
        height: fit-content;
        justify-content: unset;
    }

    #functions article p {
        width: 88.13vw;
        height: 11.88vw;
        font-size: 5vw;
        margin-bottom: 6.5vw;
        padding-left: 15vw;
    }

    #functions article p::before {
        width: 11.88vw;
        height: 11.88vw;
    }
}